@charset "utf-8";
/* CSS Document */

<!--Home-->
html,
body {
  margin: 0px;
  background-color: #000;
  background-image: url("../images/Backgroundimage1.png");
  background-size: cover;
  background-position: center;
}
/* Navigation Bar */
.menu{
  margin-bottom: 5%;
  text-align: center;
  background: rgb(21, 16, 25);
  position: fixed;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(21, 16, 25);
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 5%;
  font-size: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.icon{
  color: white;
  width: 30px;
  display: inline-block;
}
li a:hover {
  background-color: rgb(89, 125, 162);
}
.active {
  background-color: rgb(21, 16, 25);
}

/* Title */
.frontpage{
  text-align: center;
  height: 100%;
  position: fixed;
  width: 100%;
  margin: 5% 0% 0% 0%;
}
.frontpage h1{
  display: inline-block;
  font-size:100px;
  background-color: rgb(21, 16, 25);
  color: white;
  text-align: center;
}
.frontpage h2{
  display: inline-block;
  font-size:70px;
  color: rgb(89, 125, 162);
  background-color: rgb(21, 16, 25);
}

<!--Topic-->
header{
  color: white;
  text-align: center;
}

<!--Degree-->

.titles{
  color: white;
}

/* Tabla */
.plan-de-estudios {
  width: 100%;
  border-collapse: collapse;
}

.plan-de-estudios th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #fff;
  color: white;
}

.plan-de-estudios th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: black;
}

.plan-de-estudios td a{
  color: rgb(89, 125, 162);
}

/* Fundamentals */
section {
	margin: 5%;
	padding: 10%;
	border: 5px solid rgb(89, 125, 162);
  color: #fff;
}

