@charset "utf-8";
/* CSS Document */
html,
body {
  margin: 0px;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu .sidebar {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 22%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.menu .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}
.menu .sidebar .profile img {
  display: block;
  width: 22%;
  border-radius: 50%;
  margin: 0 auto;
}
.menu .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}
.menu .sidebar .profile p {
  color: white;
  font-size: 14px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 22%;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #000;
}

li a {
  display: block;
  color: #f1f1f1;
  background-color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04aa6d;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

<!--Tabla-->
.plan-de-estudios {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .plan-de-estudios th, .plan-de-estudios td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .plan-de-estudios th {
    background-color: #f2f2f2;
  }

<!--Mercados-- > 
.Gif1 {
  width: 10%;
  height: 13%;
  display: inline-block;
  border-radius: 1%;
}

.about {
  display: flex;
  flex-direction: row;
}

.Noticia1 {
  background-color: black;
  width: 45%;
  height: auto;
  padding: 1%;
  margin: 0% 1% 0% 3%;
}

.Imagen1 {
  width: 300px;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 10px;
}

h1 {
  color: white;
}

.topic {
  display: flex;
  flex-direction: row;
}

.net {
  display: flex;
  flex-direction: row;
}

.link {
  color: white;
  text-align: right;
  display: block;
}
